# Web Scraping using API
- When you type www.google.com in your browser's address bar, your computer is actually asking the www.google.com server for a web page; the server returns the page to your browser.
- APIs work much the same way, except instead of your web browser asking for a web page, your program asks for data. The API usually returns this data in JavaScript Object Notation (JSON) format.
  - GET request: to retrieve information from the OpenNotify API.
  -

### Crawling and Scraping
- Crawling refers to the process of automatically traversing through a website and following links to other pages in order to discover and index content.
- Scraping, on the other hand, refers to the process of extracting specific data elements from web pages. Scraping involves sending HTTP requests to web pages and then parsing the HTML or other markup language in the response to extract the desired data.
- Crawling focuses on discovering and indexing web pages, while scraping targets specific data extraction from those pages

# JSON format
- json: JavaScript Object Notation (자바 스크립트 객체 표기법)
- 데이터를 쉽게 '교환' 하고 '저장' 하기 위한 텍스트 기반의 데이터 교환 표준

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import json
from bs4 import BeautifulSoup

In [5]:
# exercise 1 : a simple json format
obj = """
{
    "name": "Kim",
    "places_lived": ["Seoul", "Korea"],
    "pet": null,
    "siblings": [{"name": "Scott", "age":25, "pet":"Zuko"}]
}
"""

In [6]:
type(obj)

str

In [7]:
r = json.loads(obj)   # decoding (json --> dict)
print(r)
type(r)

{'name': 'Kim', 'places_lived': ['Seoul', 'Korea'], 'pet': None, 'siblings': [{'name': 'Scott', 'age': 25, 'pet': 'Zuko'}]}

dict

In [8]:
json.dumps(r)    # encoding (dict --> json)

'{"name": "Kim", "places_lived": ["Seoul", "Korea"], "pet": null, "siblings": [{"name": "Scott", "age": 25, "pet": "Zuko"}]}'

In [10]:
# Exercise 2 (from https://rfriend.tistory.com/474)
py_data = {

    "1.FirstName": "Gildong",
    "2.LastName": "Hong",
    "3.Age": 20,
    "4.University": "Hangook University",
    "5.Courses": [
        {
            "Classes": [
                "Probability",
                "Generalized Linear Model",
                "Categorical Data Analysis"
            ],
            "Major": "Statistics"
        },
        {
            "Classes": [
                "Data Structure",
                "Programming",
                "Algorithms"
            ],
            "Minor": "ComputerScience"
        }
    ]
}

In [11]:
type(py_data)

dict

In [12]:
py_data.keys()

dict_keys(['1.FirstName', '2.LastName', '3.Age', '4.University', '5.Courses'])

In [13]:
py_data.values()

dict_values(['Gildong', 'Hong', 20, 'Hangook University', [{'Classes': ['Probability', 'Generalized Linear Model', 'Categorical Data Analysis'], 'Major': 'Statistics'}, {'Classes': ['Data Structure', 'Programming', 'Algorithms'], 'Minor': 'ComputerScience'}]])

In [14]:
py_data.items()

dict_items([('1.FirstName', 'Gildong'), ('2.LastName', 'Hong'), ('3.Age', 20), ('4.University', 'Hangook University'), ('5.Courses', [{'Classes': ['Probability', 'Generalized Linear Model', 'Categorical Data Analysis'], 'Major': 'Statistics'}, {'Classes': ['Data Structure', 'Programming', 'Algorithms'], 'Minor': 'ComputerScience'}])])

In [15]:
py_data['5.Courses']

[{'Classes': ['Probability',
   'Generalized Linear Model',
   'Categorical Data Analysis'],
  'Major': 'Statistics'},
 {'Classes': ['Data Structure', 'Programming', 'Algorithms'],
  'Minor': 'ComputerScience'}]

In [22]:
pd.json_normalize(py_data,'5.Courses',['1.FirstName'])

,Classes,Major,Minor,1.FirstName
0,"[Probability, Generalized Linear Model, Catego...",Statistics,NaN,Gildong
1,"[Data Structure, Programming, Algorithms]",NaN,ComputerScience,Gildong

In [16]:
import json
json_str = json.dumps(py_data)
print(json_str)
type(json_str)

{"1.FirstName": "Gildong", "2.LastName": "Hong", "3.Age": 20, "4.University": "Hangook University", "5.Courses": [{"Classes": ["Probability", "Generalized Linear Model", "Categorical Data Analysis"], "Major": "Statistics"}, {"Classes": ["Data Structure", "Programming", "Algorithms"], "Minor": "ComputerScience"}]}

str

In [17]:
pd.Series(py_data)

1.FirstName                                               Gildong
2.LastName                                                   Hong
3.Age                                                          20
4.University                                   Hangook University
5.Courses       [{'Classes': ['Probability', 'Generalized Line...
dtype: object

In [14]:
pd.DataFrame(py_data)

,1.FirstName,2.LastName,3.Age,4.University,5.Courses
0,Gildong,Hong,20,Hangook University,"{'Classes': ['Probability', 'Generalized Linea..."
1,Gildong,Hong,20,Hangook University,"{'Classes': ['Data Structure', 'Programming', ..."

In [15]:
pd.DataFrame(py_data).iloc[:,-1]

0    {'Classes': ['Probability', 'Generalized Linea...
1    {'Classes': ['Data Structure', 'Programming', ...
Name: 5.Courses, dtype: object

In [16]:
pd.DataFrame.from_dict(py_data)  # create a dataframe from a dict (more flexible)

,1.FirstName,2.LastName,3.Age,4.University,5.Courses
0,Gildong,Hong,20,Hangook University,"{'Classes': ['Probability', 'Generalized Linea..."
1,Gildong,Hong,20,Hangook University,"{'Classes': ['Data Structure', 'Programming', ..."

In [17]:
pd.json_normalize(py_data)  # transforms a complex nested data structures to a flat dataframe

,1.FirstName,2.LastName,3.Age,4.University,5.Courses
0,Gildong,Hong,20,Hangook University,"[{'Classes': ['Probability', 'Generalized Line..."

In [18]:
py_data['5.Courses']

[{'Classes': ['Probability',
   'Generalized Linear Model',
   'Categorical Data Analysis'],
  'Major': 'Statistics'},
 {'Classes': ['Data Structure', 'Programming', 'Algorithms'],
  'Minor': 'ComputerScience'}]

In [19]:
pd.json_normalize(py_data, "5.Courses")

,Classes,Major,Minor
0,"[Probability, Generalized Linear Model, Catego...",Statistics,NaN
1,"[Data Structure, Programming, Algorithms]",NaN,ComputerScience

In [20]:
pd.json_normalize(py_data, "5.Courses", ['3.Age'])

,Classes,Major,Minor,3.Age
0,"[Probability, Generalized Linear Model, Catego...",Statistics,NaN,20
1,"[Data Structure, Programming, Algorithms]",NaN,ComputerScience,20

# json_normalize (data, record_path, meta, ...)
- flatten nested structures
- data: dict or list of dict
- record_path : decode 해줘야할 열 지정 [{}, {}, {} ....]
- meta : decode 하는 열과 동일 차원에 존재하는 열들 중 데이터 프레임에 포함시킬 열 선택

In [18]:
# JSON exercise3
# from https://pandas.pydata.org/pandas-docs/stable/reference/api/\
#              pandas.io.json.json_normalize.html
data = [{'state': 'Florida',
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [19]:
type(data), len(data)

(list, 2)

In [20]:
pd.DataFrame.from_dict(data)

,state,shortname,info,counties
0,Florida,FL,{'governor': 'Rick Scott'},"[{'name': 'Dade', 'population': 12345}, {'name..."
1,Ohio,OH,{'governor': 'John Kasich'},"[{'name': 'Summit', 'population': 1234}, {'nam..."

In [23]:
pd.json_normalize(data)

,state,shortname,counties,info.governor
0,Florida,FL,"[{'name': 'Dade', 'population': 12345}, {'name...",Rick Scott
1,Ohio,OH,"[{'name': 'Summit', 'population': 1234}, {'nam...",John Kasich

In [24]:
pd.json_normalize(data, 'counties')

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [25]:
pd.json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich

# YAML parsing
- YAML (short for "YAML Ain't Markup Language") is a human-readable data serialization format that is commonly used for configuration files, data exchange, and other structured data.
- an alternative to more complex formats like XML and JSON.
- pyyaml: Python library that enables parsing and serialization of data in YAML format (parsing and conversion)

- example 1

In [28]:
import yaml

In [29]:
yaml_data = """
name: John Doe
age: 30
hobbies:
  - reading
  - hiking
  - cooking
"""

# Convert YAML to a Python dictionary
data = yaml.safe_load(yaml_data)
print(data)

{'name': 'John Doe', 'age': 30, 'hobbies': ['reading', 'hiking', 'cooking']}

- example 2

In [31]:
%%writefile ./config.yaml
# sample YAML configuration file (generateed by ChatGPT)

server:
  host: localhost
  port: 8080

database:
  host: localhost
  port: 5432
  user: myuser
  password: mypassword

Overwriting ./config.yaml

In [32]:
!cat ./config.yaml

# sample YAML configuration file (generateed by ChatGPT)

server:
  host: localhost
  port: 8080

database:
  host: localhost
  port: 5432
  user: myuser
  password: mypassword

In [29]:
import yaml

with open('config.yaml', 'r') as f:
    config = yaml.safe_load(f)
    # config = yaml.load(f)        # for more complex types
print(config, type(config))

{'server': {'host': 'localhost', 'port': 8080}, 'database': {'host': 'localhost', 'port': 5432, 'user': 'myuser', 'password': 'mypassword'}} <class 'dict'>

In [30]:

print(config['server'])
print(config['server']['host'])    # Output: localhost
print(config['database']['user'])  # Output: myuser

{'host': 'localhost', 'port': 8080}
localhost
myuser

# HTML Parsing
- before you do this example, try to see and run some example HTML files which are in this directory

In [25]:
from bs4 import BeautifulSoup

In [26]:
html_text = """
<html>
<body>
  <h1> reading web page with python </h1>
     <p> page analysis </p>
     <p> page alignment </p>
     <td>some text</td><td></td><td><p>more text</p></td><td>even <p>more text</p></td>
</body>
</html>
"""

In [27]:
soup = BeautifulSoup(html_text, 'html.parser')
soup

<html>
<body>
<h1> reading web page with python </h1>
<p> page analysis </p>
<p> page alignment </p>
<td>some text</td><td></td><td><p>more text</p></td><td>even <p>more text</p></td>
</body>
</html>

In [28]:
type(soup)

bs4.BeautifulSoup

In [29]:
soup.h1

In [30]:
soup.h1.text.strip()

'reading web page with python'

In [31]:
soup.p

In [32]:
soup.p.next_sibling.next_sibling

In [33]:
soup.td.next_sibling.next_sibling

In [34]:
print(soup.td.next_sibling, soup.td.next_sibling.text)

<td></td>

In [35]:
html_text2 = """
<html>
<body>
  <h1 id="title"> reading web page with python </h1>
     <p id="body"> page analysis </p>
     <p> page alignment </p>
     <td>some text</td><td></td><td><p>more text</p></td><td>even <p>more text</p></td>
     <ul>
         <li><a href = "http://www.naver.com"> naver</a></li>
         <li><a href = "http://www.daum.net"> daum</a></li>
     </ul>
  <div id="xxx">
    <h1> Wiki-books store </h1>
    <ul class="item all">
      <li> introduction to game design </li>
      <li> introduction to python </li>
      <li> introduction to web design </li>
    </ul>
  </div>
</body>
</html>
"""

In [36]:
soup = BeautifulSoup(html_text2, 'html.parser')

In [37]:
soup

<html>
<body>
<h1 id="title"> reading web page with python </h1>
<p id="body"> page analysis </p>
<p> page alignment </p>
<td>some text</td><td></td><td><p>more text</p></td><td>even <p>more text</p></td>
<ul>
<li><a href="http://www.naver.com"> naver</a></li>
<li><a href="http://www.daum.net"> daum</a></li>
</ul>
<div id="xxx">
<h1> Wiki-books store </h1>
<ul class="item all">
<li> introduction to game design </li>
<li> introduction to python </li>
<li> introduction to web design </li>
</ul>
</div>
</body>
</html>

## access by tags

In [38]:
soup.find(id='title')

In [39]:
soup.find(id='body').text

' page analysis '

In [40]:
soup.find_all('p')

[<p id="body"> page analysis </p>,
 <p> page alignment </p>,
 <p>more text</p>,
 <p>more text</p>]

In [41]:
soup.find_all('li')

[<li><a href="http://www.naver.com"> naver</a></li>,
 <li><a href="http://www.daum.net"> daum</a></li>,
 <li> introduction to game design </li>,
 <li> introduction to python </li>,
 <li> introduction to web design </li>]

In [42]:
soup.find_all('li')[0]

In [43]:
soup.find_all('li')[0].text, soup.find_all('li')[0].attrs

(' naver', {})

In [44]:
soup.find_all('a')[0]

In [45]:
soup.find_all('a')[0].text, soup.find_all('a')[0].attrs

(' naver', {'href': 'http://www.naver.com'})

In [48]:
for aa in soup.find_all('a'):
    href = aa.attrs['href']
    text = aa.text
    print (text, "-->", href)

 naver --> http://www.naver.com
 daum --> http://www.daum.net

## access by regular expression

In [53]:
soup

<html>
<body>
<h1 id="title"> reading web page with python </h1>
<p id="body"> page analysis </p>
<p> page alignment </p>
<td>some text</td><td></td><td><p>more text</p></td><td>even <p>more text</p></td>
<ul>
<li><a href="http://www.naver.com"> naver</a></li>
<li><a href="http://www.daum.net"> daum</a></li>
</ul>
<div id="xxx">
<h1> Wiki-books store </h1>
<ul class="item all">
<li> introduction to game design </li>
<li> introduction to python </li>
<li> introduction to web design </li>
</ul>
</div>
</body>
</html>

In [54]:
import re
soup.find_all(re.compile("^p"))   # tags starting with a character 'p'

[<p id="body"> page analysis </p>,
 <p> page alignment </p>,
 <p>more text</p>,
 <p>more text</p>]

In [55]:
soup.find_all(re.compile("div" ))

[<div id="xxx">
 <h1> Wiki-books store </h1>
 <ul class="item all">
 <li> introduction to game design </li>
 <li> introduction to python </li>
 <li> introduction to web design </li>
 </ul>
 </div>]

In [56]:
soup.find_all(href=re.compile("^http://"))

[<a href="http://www.naver.com"> naver</a>,
 <a href="http://www.daum.net"> daum</a>]

## access by css (Cascading Style Sheets) selector

In [57]:
soup.select('h1')    # by tags

[<h1 id="title"> reading web page with python </h1>,
 <h1> Wiki-books store </h1>]

In [58]:
soup.select('#xxx')  # by id

[<div id="xxx">
 <h1> Wiki-books store </h1>
 <ul class="item all">
 <li> introduction to game design </li>
 <li> introduction to python </li>
 <li> introduction to web design </li>
 </ul>
 </div>]

In [59]:
soup.select('.item') # by class name

[<ul class="item all">
 <li> introduction to game design </li>
 <li> introduction to python </li>
 <li> introduction to web design </li>
 </ul>]

In [ ]:
html_text2 = """
<html>
<body>
  <h1 id="title"> reading web page with python </h1>
     <p id="body"> page analysis </p>
     <p> page alignment </p>
     <td>some text</td><td></td><td><p>more text</p></td><td>even <p>more text</p></td>
     <ul>
         <li><a href = "http://www.naver.com"> naver</a></li>
         <li><a href = "http://www.daum.net"> daum</a></li>
     </ul>
  <div id="xxx">
    <h1> Wiki-books store </h1>
    <ul class="item all">
      <li> introduction to game design </li>
      <li> introduction to python </li>
      <li> introduction to web design </li>
    </ul>
  </div>
</body>
</html>
"""

In [60]:
soup.select('div .item')  # multi-components(tag=div, class=item)

[<ul class="item all">
 <li> introduction to game design </li>
 <li> introduction to python </li>
 <li> introduction to web design </li>
 </ul>]

In [61]:
soup.select("#xxx > ul > li")  # hierarchy (child)

[<li> introduction to game design </li>,
 <li> introduction to python </li>,
 <li> introduction to web design </li>]

In [62]:
soup.select_one("#xxx > ul > li")  # hierarchy (child)

In [63]:
soup.select("div")

[<div id="xxx">
 <h1> Wiki-books store </h1>
 <ul class="item all">
 <li> introduction to game design </li>
 <li> introduction to python </li>
 <li> introduction to web design </li>
 </ul>
 </div>]

In [64]:
soup.select("div li")   # hierarchy (div tag >>> ul tag) (descendants)

[<li> introduction to game design </li>,
 <li> introduction to python </li>,
 <li> introduction to web design </li>]

- find with classes

In [65]:
text = '<p class="body strikeout"></p>'

css_soup = BeautifulSoup(text, 'html.parser')
css_soup.find_all("p", class_="strikeout")  # can have multiple values for a class

In [66]:
css_soup.find_all("p", class_="body")

In [67]:
# If you want to search for tags that match two or more CSS classes,
# you should use a CSS selector:
css_soup.select("p.body.strikeout")

In [68]:
css_soup.select("p.strikeout")

# Example from JOBKOREA
- confirmed on 2024.7.18
- search for 'data scientist', 'seoul' in JobKorea
- Remember that web pages are changing upon refreshing.

In [46]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

# search for 'data scientist', 'seoul' in JobaKorea
url = 'https://www.jobkorea.co.kr/Search/?stext=data%20scientist&local=I000'
# url = 'https://www.jobkorea.co.kr/Search/?stext=datascience&local=I000'
response = requests.get(url)
response.encoding = 'utf-8'
soup = BeautifulSoup(response.text, 'html.parser')

In [47]:
response

In [48]:
response.text

'<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">\r\n<html>\r\n<head>\r\n<meta http-equiv="content-type" content="text/html; charset=utf-8">\r\n</head>\r\n<body>\r\n<br>\r\n<br>\r\n<center>\r\n<h2>\r\n회원님께서는 현재 입력할 수 없는 문자열의 사용으로 인해 차단이 되었습니다.<br>\r\n문제가 지속적으로 발생할 경우 아래 고객센터로 문의하시기 바랍니다.<br>\r\n이용에 불편을 드려 죄송합니다.<br>\r\n\r\n문의(고객센터): 1588-9350<br>\r\n<br>\r\n</body>\r\n</html>'

- it seems that the direct access (automatic scraping) to this web page is not allowed.
- we can modify our request to include headers that mimic a browser request.
  - Added User-Agent Header: We added a User-Agent header to the request. This header is used by web browsers to identify themselves when making requests to web servers.
  - By setting a User-Agent that mimics a popular browser (e.g., Google Chrome), **we made our request appear as though it was coming from a real user rather than an automated script.** This helps to avoid being blocked by websites that restrict automated access.

In [72]:
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
}

# Fetch the HTML content from the URL with headers
response = requests.get(url, headers=headers)
response.encoding = 'utf-8'
soup = BeautifulSoup(response.text, 'html.parser')

In [73]:
soup.prettify()[:1000]

'<!DOCTYPE html>\n<html lang="ko">\n <head>\n  <meta charset="utf-8"/>\n  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>\n  <meta content="IE=edge; chrome=1" http-equiv="X-UA-Compatible"/>\n  <title>\n   data scientist 채용공고 | 총 42건의 검색결과 - 잡코리아\n  </title>\n  <meta content="data scientist 채용공고 | 총 42건의 검색결과 - 잡코리아" name="title"/>\n  <meta content="data scientist 검색결과 총 42건- 2024 data scientist 채용정보가 더 알고 싶다면? 기업정보, 취업정보를 No.1 커리어 플랫폼 잡코리아에서 확인해보세요." name="description"/>\n  <meta content="data scientist, 채용, 구인구직사이트, 취업, 공기업, 직업, 취업박람회, 자소서, 채용사이트, 구직사이트,취업정보사이트, 채용공고, WORK, 직업종류, 커리어, 이직, 공고, 구인, 구직, 헤드헌팅, 경력, 신입, 인턴, 공채, 취업정보, 취업 정보, 취업뉴스, 취업 속보, 취업 뉴스, 취업상담실, 해외취업, 취업센터,채용박람회, 직업적성검사, 면접, 대기업채용, 리쿠르팅, 구인사이트, 잡, 구인광고, 직업추천, 청년일자리, 일자리사이트, 취업지원센터, 리크루팅, 구직자, 채용공고사이트, 인턴십, 일자리박람회, 일자리구하기, 취업성공, 취업사이트, 채용, 채용포털, 채용정보, 고용정보, 알바, 일자리, 구인정보, 이력서, Work, Job, 전직, 재취업, 여성취업, 정보통신취업, IT취업, 임원, CEO, 리쿠르트, 리크루트, 기업, 대기업, 중소기업, 벤처기업, 잡코리아, Jobkorea, wkqzhfldk, 원픽, OnePick, onepick, dnjsv'

In [74]:
len(soup.select('article .content-list .list'))

1

In [75]:
soup.select('article .content-list .list')[0]

<article class="list">
<article class="list-item" data-gainfo='{"dimension42":"45605234", "dimension43":"회계·세무·법무", "dimension44":"컨설턴트,데이터사이언티스트", "dimension45":"컨설팅부문 Customer 팀 Data Scientist 컨설턴트 경력직", "dimension46":"서울", "dimension65":"N", "dimension66":"일반기업", "dimension70":"무료", "dimension47":"41416328", "dimension48":"한영회계법인"}' data-gavirturl="https://www.jobkorea.co.kr/virtual/Recruit/GI_Read/45605234?Oem_Code=C1&amp;logpath=1&amp;stext=data scientist&amp;listno=1" data-gino="47779836" data-gno="45605234" data-listno="1" data-mem-sys="41416328" data-mem-type="C">
<div class="list-section-corp">
<a class="corp-name-link dev-view" href="/Recruit/GI_Read/45605234?Oem_Code=C1&amp;logpath=1&amp;stext=data scientist&amp;listno=1" nav-src="/Search/_ContentsGIRead?Gno=45605234&amp;Mem_Type_Code=C&amp;Mem_Sys_No=41416328" onclick="$(this).closest('.list-item').addClass('checked'); GA_Virtual_Dimension($(this).closest('.list-post[data-gno=45605234]').data('gainfo')); GA_Virtual('홈&gt;통합검색&gt;공고뷰', $(this).closest('.list-post[data-gno=45605234]').data('gavirturl')); GA_Event('통합검색_PC', '채용정보', '클릭');" target="_blank" title="한영회계법인">
                            한영회계법인
                        </a>
<button class="button-favorite dev_favor-41416328" onclick="GA_Event('통합검색_PC', '채용정보','관심_' + ($(this).hasClass('on')?'해제':'등록'));" type="button">
<i></i>
</button>
<ul class="chips-circle-group">
</ul>
</div>
<div class="list-section-information">
<div class="information-title">
<a class="information-title-link dev-view" href="/Recruit/GI_Read/45605234?Oem_Code=C1&amp;logpath=1&amp;stext=data scientist&amp;listno=1" onclick="$(this).closest('.list-item').addClass('checked'); GA_Virtual_Dimension($(this).closest('.list-post[data-gno=45605234]').data('gainfo'));GA_Virtual('홈&gt;통합검색&gt;공고뷰', $(this).closest('.list-post[data-gno=45605234]').data('gavirturl'));GA_Event('통합검색_PC', '채용정보', '클릭');" target="_blank">
                                컨설팅부문 Customer 팀 <em class="match">Data Scientist</em> 컨설턴트 경력직
                            </a>
<button class="button-scrap dev_scrap-47779836" data-brazeinfo="컨설팅부문 Customer 팀 Data Scientist 컨설턴트 경력직|45605234|47779836|yyyy-MM-dd|yyyy-MM-dd|한영회계법인|41416328" onclick="GA_Event('통합검색_PC', '채용정보','스크랩_' + ($(this).hasClass('on')?'해제':'등록'));" type="button">
<i></i> <span>스크랩</span>
</button>
</div>
<ul class="chip-information-group">
<li class="chip-information-item">경력3년↑</li>
<li class="chip-information-item">대졸↑</li>
<li class="chip-information-item">정규직</li>
<li class="chip-information-item">서울 영등포구</li>
<li class="chip-information-item">D-5</li>
</ul>
</div>
<div class="list-section-util">
<button class="button-apply-homepage dev_new_pop" onclick="_LA.EVT('5283');GA_Event('통합검색_PC', '채용정보', '홈페이지 지원');" src="/List_GI/GIB_Read_homepage_Link.asp?GI_NO=47779836" type="button"><span>홈페이지 지원</span></button>
</div>
</article>
<article class="list-item" data-gainfo='{"dimension42":"45443401", "dimension43":"네트워크·통신서비스", "dimension44":"데이터사이언티스트", "dimension45":"Data Scientist", "dimension46":"서울", "dimension65":"N", "dimension66":"일반기업", "dimension70":"무료", "dimension47":"40499415", "dimension48":"야놀자"}' data-gavirturl="https://www.jobkorea.co.kr/virtual/Recruit/GI_Read/45443401?Oem_Code=C1&amp;logpath=1&amp;stext=data scientist&amp;listno=2" data-gino="47639876" data-gno="45443401" data-listno="2" data-mem-sys="40499415" data-mem-type="C">
<div class="list-section-corp">
<a class="corp-name-link dev-view" href="/Recruit/GI_Read/45443401?Oem_Code=C1&amp;logpath=1&amp;stext=data scientist&amp;listno=2" nav-src="/Search/_ContentsGIRead?Gno=45443401&amp;Mem_Type_Code=C&amp;Mem_Sys_No=40499415" onclick="$(this).closest('.list-item').addClass('checked'); GA_Virtual_Dimension($(this).closest('.list-post[data-gno=45443401]').data('gainfo')); GA_Virtual('홈&gt;통합검색&gt;공고뷰', $(this).closest('.list-post[data-gno=45443401]').data('gavirturl')); GA_Event('통합검색_PC', '채용정보', '클릭');" target="_blank" title="야놀자">
                            야놀자
                        </a>
<button class="button-favorite dev_favor-40499415" onclick="GA_Event('통합검색_PC', '채용정보','관심_' + ($(this).hasClass('on')?'해제':'등록'));" type="button">
<i></i>
</button>
<ul class="chips-circle-group">
</ul>
</div>
<div class="list-section-information">
<div class="information-title">
<a class="information-title-link dev-view" href="/Recruit/GI_Read/45443401?Oem_Code=C1&amp;logpath=1&amp;stext=data scientist&amp;listno=2" onclick="$(this).closest('.list-item').addClass('checked'); GA_Virtual_Dimension($(this).closest('.list-post[data-gno=45443401]').data('gainfo'));GA_Virtual('홈&gt;통합검색&gt;공고뷰', $(this).closest('.list-post[data-gno=45443401]').data('gavirturl'));GA_Event('통합검색_PC', '채용정보', '클릭');" target="_blank">
<em class="match">Data Scientist</em>
</a>
<button class="button-scrap dev_scrap-47639876" data-brazeinfo="Data Scientist|45443401|47639876|yyyy-MM-dd|yyyy-MM-dd|야놀자|40499415" onclick="GA_Event('통합검색_PC', '채용정보','스크랩_' + ($(this).hasClass('on')?'해제':'등록'));" type="button">
<i></i> <span>스크랩</span>
</button>
</div>
<ul class="chip-information-group">
<li class="chip-information-item">경력2년↑</li>
<li class="chip-information-item">학력무관</li>
<li class="chip-information-item">정규직</li>
<li class="chip-information-item">서울 강남구</li>
<li class="chip-information-item">D-25</li>
</ul>
<ul class="chip-benefit-group">
<li class="chip-benefit-item">#상해보험</li>
<li class="chip-benefit-item">#명절선물/명절상여 지원</li>
<li class="chip-benefit-item">#보육수당</li>
<li class="chip-benefit-item">#출산 지원</li>
<li class="chip-benefit-item">외 8건</li>
</ul>
</div>
<div class="list-section-util">
<button class="button-apply-homepage dev_new_pop" onclick="_LA.EVT('5283');GA_Event('통합검색_PC', '채용정보', '홈페이지 지원');" src="/List_GI/GIB_Read_homepage_Link.asp?GI_NO=47639876" type="button"><span>홈페이지 지원</span></button>
</div>
</article>
<article class="list-item" data-gainfo='{"dimension42":"45396600", "dimension43":"제약·보건·바이오", "dimension44":"데이터사이언티스트", "dimension45":"Data Scientist 채용", "dimension46":"서울", "dimension65":"Y", "dimension66":"일반기업", "dimension70":"무료", "dimension47":"32481189", "dimension48":"바이온사이트"}' data-gavirturl="https://www.jobkorea.co.kr/virtual/Recruit/GI_Read/45396600?Oem_Code=C1&amp;logpath=1&amp;stext=data scientist&amp;listno=3" data-gino="47598616" data-gno="45396600" data-listno="3" data-mem-sys="32481189" data-mem-type="C">
<div class="list-section-corp">
<a class="corp-name-link dev-view" href="/Recruit/GI_Read/45396600?Oem_Code=C1&amp;logpath=1&amp;stext=data scientist&amp;listno=3" nav-src="/Search/_ContentsGIRead?Gno=45396600&amp;Mem_Type_Code=C&amp;Mem_Sys_No=32481189" onclick="$(this).closest('.list-item').addClass('checked'); GA_Virtual_Dimension($(this).closest('.list-post[data-gno=45396600]').data('gainfo')); GA_Virtual('홈&gt;통합검색&gt;공고뷰', $(this).closest('.list-post[data-gno=45396600]').data('gavirturl')); GA_Event('통합검색_PC', '채용정보', '클릭');" target="_blank" title="바이온사이트">
                            바이온사이트
                        </a>
<button class="button-favorite dev_favor-32481189" onclick="GA_Event('통합검색_PC', '채용정보','관심_' + ($(this).hasClass('on')?'해제':'등록'));" type="button">
<i></i>
</button>
<ul class="chips-circle-group">
</ul>
</div>
<div class="list-section-information">
<div class="information-title">
<a class="information-title-link dev-view" href="/Recruit/GI_Read/45396600?Oem_Code=C1&amp;logpath=1&amp;stext=data scientist&amp;listno=3" onclick="$(this).closest('.list-item').addClass('checked'); GA_Virtual_Dimension($(this).closest('.list-post[data-gno=45396600]').data('gainfo'));GA_Virtual('홈&gt;통합검색&gt;공고뷰', $(this).closest('.list-post[data-gno=45396600]').data('gavirturl'));GA_Event('통합검색_PC', '채용정보', '클릭');" target="_blank">
<em class="match">Data Scientist</em> 채용
                            </a>
<button class="button-scrap dev_scrap-47598616" data-brazeinfo="Data Scientist 채용|45396600|47598616|yyyy-MM-dd|yyyy-MM-dd|바이온사이트|32481189" onclick="GA_Event('통합검색_PC', '채용정보','스크랩_' + ($(this).hasClass('on')?'해제':'등록'));" type="button">
<i></i> <span>스크랩</span>
</button>
</div>
<ul class="chip-information-group">
<li class="chip-information-item">경력3년↑</li>
<li class="chip-information-item">대졸↑</li>
<li class="chip-information-item">정규직</li>
<li class="chip-information-item">서울 성동구</li>
<li class="chip-information-item">상시채용</li>
</ul>
</div>
<div class="list-section-util">
<button class="button-apply-now dev_direct_apply_list" onclick="GA_Event('통합검색_PC', '채용정보', '즉시지원');" type="button">즉시지원</button>
</div>
</article>
<article class="list-item" data-gainfo='{"dimension42":"45542010", "dimension43":"솔루션·SI·CRM·ERP", "dimension44":"DBA,데이터엔지니어,머신러닝엔지니어", "dimension45":"[빅밸류] Data Scientist(공통) 모집", "dimension46":"서울", "dimension65":"Y", "dimension66":"일반기업", "dimension70":"무료", "dimension47":"18200253", "dimension48":"㈜빅밸류"}' data-gavirturl="https://www.jobkorea.co.kr/virtual/Recruit/GI_Read/45542010?Oem_Code=C1&amp;logpath=1&amp;stext=data scientist&amp;listno=4" data-gino="47725631" data-gno="45542010" data-listno="4" data-mem-sys="18200253" data-mem-type="C">
<div class="list-section-corp">
<a class="corp-name-link dev-view" href="/Recruit/GI_Read/45542010?Oem_Code=C1&amp;logpath=1&amp;stext=data scientist&amp;listno=4" nav-src="/Search/_ContentsGIRead?Gno=45542010&amp;Mem_Type_Code=C&amp;Mem_Sys_No=18200253" onclick="$(this).closest('.list-item').addClass('checked'); GA_Virtual_Dimension($(this).closest('.list-post[data-gno=45542010]').data('gainfo')); GA_Virtual('홈&gt;통합검색&gt;공고뷰', $(this).closest('.list-post[data-gno=45542010]').data('gavirturl')); GA_Event('통합검색_PC', '채용정보', '클릭');" target="_blank" title="㈜빅밸류">
                            ㈜빅밸류
                        </a>
<button class="button-favorite dev_favor-18200253" onclick="GA_Event('통합검색_PC', '채용정보','관심_' + ($(this).hasClass('on')?'해제':'등록'));" type="button">
<i></i>
</button>
<ul class="chips-circle-group">
<li class="chips-circle-item">수상기업</li>
</ul>
</div>
<div class="list-section-information">
<div class="information-title">
<a class="information-title-link dev-view" href="/Recruit/GI_Read/45542010?Oem_Code=C1&amp;logpath=1&amp;stext=data scientist&amp;listno=4" onclick="$(this).closest('.list-item').addClass('checked'); GA_Virtual_Dimension($(this).closest('.list-post[data-gno=45542010]').data('gainfo'));GA_Virtual('홈&gt;통합검색&gt;공고뷰', $(this).closest('.list-post[data-gno=45542010]').data('gavirturl'));GA_Event('통합검색_PC', '채용정보', '클릭');" target="_blank">
                                [빅밸류] <em class="match">Data Scientist</em>(공통) 모집
                            </a>
<button class="button-scrap dev_scrap-47725631" data-brazeinfo="[빅밸류] Data Scientist(공통) 모집|45542010|47725631|yyyy-MM-dd|yyyy-MM-dd|㈜빅밸류|18200253" onclick="GA_Event('통합검색_PC', '채용정보','스크랩_' + ($(this).hasClass('on')?'해제':'등록'));" type="button">
<i></i> <span>스크랩</span>
</button>
</div>
<ul class="chip-information-group">
<li class="chip-information-item">경력무관</li>
<li class="chip-information-item">학력무관</li>
<li class="chip-information-item">정규직</li>
<li class="chip-information-item">서울 중구</li>
<li class="chip-information-item">상시채용</li>
</ul>
</div>
<div class="list-section-util">
<button class="button-apply-now dev_direct_apply_list" onclick="GA_Event('통합검색_PC', '채용정보', '즉시지원');" type="button">즉시지원</button>
</div>
</article>
<article class="list-item" data-gainfo='{"dimension42":"45578898", "dimension43":"솔루션·SI·CRM·ERP", "dimension44":"데이터사이언티스트", "dimension45":"[CORNERSTONE42] Data Scientist 모집", "dimension46":"서울", "dimension65":"Y", "dimension66":"일반기업", "dimension70":"무료", "dimension47":"38563104", "dimension48":"㈜코너스톤42"}' data-gavirturl="https://www.jobkorea.co.kr/virtual/Recruit/GI_Read/45578898?Oem_Code=C1&amp;logpath=1&amp;stext=data scientist&amp;listno=5" data-gino="47756667" data-gno="45578898" data-listno="5" data-mem-sys="38563104" data-mem-type="C">
<div class="list-section-corp">
<a class="corp-name-link dev-view" href="/Recruit/GI_Read/45578898?Oem_Code=C1&amp;logpath=1&amp;stext=data scientist&amp;listno=5" nav-src="/Search/_ContentsGIRead?Gno=45578898&amp;Mem_Type_Code=C&amp;Mem_Sys_No=38563104" onclick="$(this).closest('.list-item').addClass('checked'); GA_Virtual_Dimension($(this).closest('.list-post[data-gno=45578898]').data('gainfo')); GA_Virtual('홈&gt;통합검색&gt;공고뷰', $(this).closest('.list-post[data-gno=45578898]').data('gavirturl')); GA_Event('통합검색_PC', '채용정보', '클릭');" target="_blank" title="㈜코너스톤42">
                            ㈜코너스톤42
                        </a>
<button class="button-favorite dev_favor-38563104" onclick="GA_Event('통합검색_PC', '채용정보','관심_' + ($(this).hasClass('on')?'해제':'등록'));" type="button">
<i></i>
</button>
<ul class="chips-circle-group">
</ul>
</div>
<div class="list-section-information">
<div class="information-title">
<a class="information-title-link dev-view" href="/Recruit/GI_Read/45578898?Oem_Code=C1&amp;logpath=1&amp;stext=data scientist&amp;listno=5" onclick="$(this).closest('.list-item').addClass('checked'); GA_Virtual_Dimension($(this).closest('.list-post[data-gno=45578898]').data('gainfo'));GA_Virtual('홈&gt;통합검색&gt;공고뷰', $(this).closest('.list-post[data-gno=45578898]').data('gavirturl'));GA_Event('통합검색_PC', '채용정보', '클릭');" target="_blank">
                                [CORNERSTONE42] <em class="match">Data Scientist</em> 모집
                            </a>
<button class="button-scrap dev_scrap-47756667" data-brazeinfo="[CORNERSTONE42] Data Scientist 모집|45578898|47756667|yyyy-MM-dd|yyyy-MM-dd|㈜코너스톤42|38563104" onclick="GA_Event('통합검색_PC', '채용정보','스크랩_' + ($(this).hasClass('on')?'해제':'등록'));" type="button">
<i></i> <span>스크랩</span>
</button>
</div>
<ul class="chip-information-group">
<li class="chip-information-item">신입·경력3년↑</li>
<li class="chip-information-item">대졸↑</li>
<li class="chip-information-item">정규직</li>
<li class="chip-information-item">서울 송파구 외</li>
<li class="chip-information-item">D-18</li>
</ul>
<ul class="chip-benefit-group">
<li class="chip-benefit-item">#웰컴키트</li>
<li class="chip-benefit-item">#재택근무</li>
<li class="chip-benefit-item">#사내 동호회 지원</li>
<li class="chip-benefit-item">#생일 이벤트</li>
<li class="chip-benefit-item">외 1건</li>
</ul>
</div>
<div class="list-section-util">
<button class="button-apply-now dev_direct_apply_list" onclick="GA_Event('통합검색_PC', '채용정보', '즉시지원');" type="button">즉시지원</button>
</div>
</article>
<article class="list-item" data-gainfo='{"dimension42":"45414347", "dimension43":"솔루션·SI·CRM·ERP", "dimension44":"머신러닝엔지니어", "dimension45":"Data Scientist (영어회화 필수)", "dimension46":"서울", "dimension65":"Y", "dimension66":"일반기업", "dimension70":"무료", "dimension47":"25979467", "dimension48":"㈜마인드에이아이"}' data-gavirturl="https://www.jobkorea.co.kr/virtual/Recruit/GI_Read/45414347?Oem_Code=C1&amp;logpath=1&amp;stext=data scientist&amp;listno=6" data-gino="47614472" data-gno="45414347" data-listno="6" data-mem-sys="25979467" data-mem-type="C">
<div class="list-section-corp">
<a class="corp-name-link dev-view" href="/Recruit/GI_Read/45414347?Oem_Code=C1&amp;logpath=1&amp;stext=data scientist&amp;listno=6" nav-src="/Search/_ContentsGIRead?Gno=45414347&amp;Mem_Type_Code=C&amp;Mem_Sys_No=25979467" onclick="$(this).closest('.list-item').addClass('checked'); GA_Virtual_Dimension($(this).closest('.list-post[data-gno=45414347]').data('gainfo')); GA_Virtual('홈&gt;통합검색&gt;공고뷰', $(this).closest('.list-post[data-gno=45414347]').data('gavirturl')); GA_Event('통합검색_PC', '채용정보', '클릭');" target="_blank" title="㈜마인드에이아이">
                            ㈜마인드에이아이
                        </a>
<button class="button-favorite dev_favor-25979467" onclick="GA_Event('통합검색_PC', '채용정보','관심_' + ($(this).hasClass('on')?'해제':'등록'));" type="button">
<i></i>
</button>
<ul class="chips-circle-group">
</ul>
</div>
<div class="list-section-information">
<div class="information-title">
<a class="information-title-link dev-view" href="/Recruit/GI_Read/45414347?Oem_Code=C1&amp;logpath=1&amp;stext=data scientist&amp;listno=6" onclick="$(this).closest('.list-item').addClass('checked'); GA_Virtual_Dimension($(this).closest('.list-post[data-gno=45414347]').data('gainfo'));GA_Virtual('홈&gt;통합검색&gt;공고뷰', $(this).closest('.list-post[data-gno=45414347]').data('gavirturl'));GA_Event('통합검색_PC', '채용정보', '클릭');" target="_blank">
<em class="match">Data Scientist</em> (영어회화 필수)
                            </a>
<button class="button-scrap dev_scrap-47614472" data-brazeinfo="Data Scientist (영어회화 필수)|45414347|47614472|yyyy-MM-dd|yyyy-MM-dd|㈜마인드에이아이|25979467" onclick="GA_Event('통합검색_PC', '채용정보','스크랩_' + ($(this).hasClass('on')?'해제':'등록'));" type="button">
<i></i> <span>스크랩</span>
</button>
</div>
<ul class="chip-information-group">
<li class="chip-information-item">경력3년↑</li>
<li class="chip-information-item">석사↑</li>
<li class="chip-information-item">정규직</li>
<li class="chip-information-item">서울 중구</li>
<li class="chip-information-item">D-21</li>
</ul>
<ul class="chip-benefit-group">
<li class="chip-benefit-item">#생일 이벤트</li>
</ul>
</div>
<div class="list-section-util">
<button class="button-apply-now dev_direct_apply_list" onclick="GA_Event('통합검색_PC', '채용정보', '즉시지원');" type="button">즉시지원</button>
</div>
</article>
<article class="list-item" data-gainfo='{"dimension42":"45393276", "dimension43":"솔루션·SI·CRM·ERP", "dimension44":"데이터사이언티스트", "dimension45":"Senior Data Scientist (3년 이상)", "dimension46":"서울", "dimension65":"Y", "dimension66":"일반기업", "dimension70":"무료", "dimension47":"19717466", "dimension48":"주식회사 데이블"}' data-gavirturl="https://www.jobkorea.co.kr/virtual/Recruit/GI_Read/45393276?Oem_Code=C1&amp;logpath=1&amp;stext=data scientist&amp;listno=7" data-gino="47595763" data-gno="45393276" data-listno="7" data-mem-sys="19717466" data-mem-type="C">
<div class="list-section-corp">
<a class="corp-name-link dev-view" href="/Recruit/GI_Read/45393276?Oem_Code=C1&amp;logpath=1&amp;stext=data scientist&amp;listno=7" nav-src="/Search/_ContentsGIRead?Gno=45393276&amp;Mem_Type_Code=C&amp;Mem_Sys_No=19717466" onclick="$(this).closest('.list-item').addClass('checked'); GA_Virtual_Dimension($(this).closest('.list-post[data-gno=45393276]').data('gainfo')); GA_Virtual('홈&gt;통합검색&gt;공고뷰', $(this).closest('.list-post[data-gno=45393276]').data('gavirturl')); GA_Event('통합검색_PC', '채용정보', '클릭');" target="_blank" title="주식회사 데이블">
                            주식회사 데이블
                        </a>
<button class="button-favorite dev_favor-19717466" onclick="GA_Event('통합검색_PC', '채용정보','관심_' + ($(this).hasClass('on')?'해제':'등록'));" type="button">
<i></i>
</button>
<ul class="chips-circle-group">
</ul>
</div>
<div class="list-section-information">
<div class="information-title">
<a class="information-title-link dev-view" href="/Recruit/GI_Read/45393276?Oem_Code=C1&amp;logpath=1&amp;stext=data scientist&amp;listno=7" onclick="$(this).closest('.list-item').addClass('checked'); GA_Virtual_Dimension($(this).closest('.list-post[data-gno=45393276]').data('gainfo'));GA_Virtual('홈&gt;통합검색&gt;공고뷰', $(this).closest('.list-post[data-gno=45393276]').data('gavirturl'));GA_Event('통합검색_PC', '채용정보', '클릭');" target="_blank">
                                Senior <em class="match">Data Scientist</em> (3년 이상)
                            </a>
<button class="button-scrap dev_scrap-47595763" data-brazeinfo="Senior Data Scientist (3년 이상)|45393276|47595763|yyyy-MM-dd|yyyy-MM-dd|주식회사 데이블|19717466" onclick="GA_Event('통합검색_PC', '채용정보','스크랩_' + ($(this).hasClass('on')?'해제':'등록'));" type="button">
<i></i> <span>스크랩</span>
</button>
</div>
<ul class="chip-information-group">
<li class="chip-information-item">경력3년↑</li>
<li class="chip-information-item">대졸↑</li>
<li class="chip-information-item">정규직</li>
<li class="chip-information-item">서울 강남구</li>
<li class="chip-information-item">상시채용</li>
</ul>
</div>
<div class="list-section-util">
<button class="button-apply-now dev_direct_apply_list" onclick="GA_Event('통합검색_PC', '채용정보', '즉시지원');" type="button">즉시지원</button>
</div>
</article>

In [76]:
ss = soup.select('article .content-list .list')[0].select('.list-item')
len(ss)

20

In [77]:
ss[0].select('.list-section-corp')[0].a.text.strip() # corp name

'한영회계법인'

In [78]:
ss[0].select('.information-title')[0].a.text.strip() # title

'컨설팅부문 Customer 팀 Data Scientist 컨설턴트 경력직'

In [79]:
ss[0].select('.list-section-information')[0].select('ul')[0].find_all('li')

[<li class="chip-information-item">경력3년↑</li>,
 <li class="chip-information-item">대졸↑</li>,
 <li class="chip-information-item">정규직</li>,
 <li class="chip-information-item">서울 영등포구</li>,
 <li class="chip-information-item">D-5</li>]

In [80]:
# location and other information
[i.text for i in ss[0].select('.list-section-information')[0].select('ul')[0].find_all('li')]

['경력3년↑', '대졸↑', '정규직', '서울 영등포구', 'D-5']

In [81]:
ss = soup.select('article .content-list .list')[0].select('.list-item')

names, titles, infos = [], [], []

for k in range(len(ss)):
    corp = ss[k]
    name = ss[k].select('.list-section-corp')[0].a.text.strip()
    title = ss[k].select('.information-title')[0].a.text.strip()
    info = [i.text for i in ss[k].select('.list-section-information')[0]\
            .select('ul')[0].find_all('li')]
    info_s  = ""
    for i in info:
        info_s = info_s + " " + i
    names.append(name)
    titles.append(title)
    infos.append(info_s)

In [82]:
names

['한영회계법인',
 '야놀자',
 '바이온사이트',
 '㈜빅밸류',
 '㈜코너스톤42',
 '㈜마인드에이아이',
 '주식회사 데이블',
 '㈜델타엑스',
 '㈜에이브랩스',
 '엘지유플러스',
 '브이엠에스솔루션스',
 '㈜비바리퍼블리카',
 '바이오북㈜',
 '㈜에이비일팔공',
 '바이오북㈜',
 '대기업',
 '중소기업(300명이하)',
 '중소기업(300명이하)',
 '중견기업(300명이상)',
 '대기업']

In [83]:
titles

['컨설팅부문 Customer 팀 Data Scientist 컨설턴트 경력직',
 'Data Scientist',
 'Data Scientist 채용',
 '[빅밸류] Data Scientist(공통) 모집',
 '[CORNERSTONE42] Data Scientist 모집',
 'Data Scientist (영어회화 필수)',
 'Senior Data Scientist (3년 이상)',
 'AI R&D / 3D 비전 / 개발 / Data Scientist 병역 특례 전문연구요원 모집',
 '데이터 분석 (Data Scientist) 채용',
 '[CTO] AI Scientist-추천/예측 경력사원 채용',
 '[브이엠에스솔루션스] 2024년 각부문별 채용',
 '[토스뱅크] CSS Modeler (기획/운영)',
 '[성수동 스타트업] 바이오 생명공학 산업 분석 시장조사 리서치 직무 모집',
 '[AB180] Marketing Data Consultant 채용',
 '[성수동 스타트업] 생명공학 계열 전공 글로벌 BD 모집',
 '국내 그룹사(산업 플랜트) - AI Data Scientist 경력직',
 '[AI솔루션 기업] Data Scientist(4-8년차)',
 '06 DATA Engineer, Data Scientist [글로벌 헬스케어 스타트업 개발자 채용] - 베스트네트워크㈜',
 'Data Scientist-초대형 유통그룹 전자제품 전문 유통 회사',
 'Data Scientist(Dynamic Pricing)-종합물류 대기업']

In [84]:
infos

[' 경력3년↑ 대졸↑ 정규직 서울 영등포구 D-5',
 ' 경력2년↑ 학력무관 정규직 서울 강남구 D-25',
 ' 경력3년↑ 대졸↑ 정규직 서울 성동구 상시채용',
 ' 경력무관 학력무관 정규직 서울 중구 상시채용',
 ' 신입·경력3년↑ 대졸↑ 정규직 서울 송파구 외 D-18',
 ' 경력3년↑ 석사↑ 정규직 서울 중구 D-21',
 ' 경력3년↑ 대졸↑ 정규직 서울 강남구 상시채용',
 ' 신입·경력 석사↑ 정규직 외 서울 구로구 상시채용',
 ' 신입·경력 학력무관 정규직 외 서울 용산구 D-13',
 ' 경력 대졸↑ 서울 강서구 D-8',
 ' 신입·경력 학력무관 정규직 외 서울 전지역 외 D-10',
 ' 경력3년↑ 학력무관 정규직 서울 강남구 D-34',
 ' 신입·경력 대졸↑ 계약직 서울 성동구 D-25',
 ' 경력1년↑ 학력무관 정규직 서울 서초구 상시채용',
 ' 경력 석사↑ 정규직 외 서울 성동구 D-19',
 ' 경력5년↑ 석사↑ 정규직 서울 전지역 D-23',
 ' 경력4년↑ 박사↑ 정규직 서울 중구 D-54',
 ' 경력 학력무관 정규직 서울 구로구 D-5',
 ' 경력5년↑ 대졸↑ 정규직 서울 전지역 D-29',
 ' 경력7년↑ 대졸↑ 정규직 서울 전지역 D-26']

In [85]:
pd.DataFrame(np.c_[names, titles, infos],
             columns=["names", "titles", "infos"])

,names,titles,infos
0,한영회계법인,컨설팅부문 Customer 팀 Data Scientist 컨설턴트 경력직,경력3년↑ 대졸↑ 정규직 서울 영등포구 D-5
1,야놀자,Data Scientist,경력2년↑ 학력무관 정규직 서울 강남구 D-25
2,바이온사이트,Data Scientist 채용,경력3년↑ 대졸↑ 정규직 서울 성동구 상시채용
3,㈜빅밸류,[빅밸류] Data Scientist(공통) 모집,경력무관 학력무관 정규직 서울 중구 상시채용
4,㈜코너스톤42,[CORNERSTONE42] Data Scientist 모집,신입·경력3년↑ 대졸↑ 정규직 서울 송파구 외 D-18
5,㈜마인드에이아이,Data Scientist (영어회화 필수),경력3년↑ 석사↑ 정규직 서울 중구 D-21
6,주식회사 데이블,Senior Data Scientist (3년 이상),경력3년↑ 대졸↑ 정규직 서울 강남구 상시채용
7,㈜델타엑스,AI R&D / 3D 비전 / 개발 / Data Scientist 병역 특례 전문연...,신입·경력 석사↑ 정규직 외 서울 구로구 상시채용
8,㈜에이브랩스,데이터 분석 (Data Scientist) 채용,신입·경력 학력무관 정규직 외 서울 용산구 D-13
9,엘지유플러스,[CTO] AI Scientist-추천/예측 경력사원 채용,경력 대졸↑ 서울 강서구 D-8
10,브이엠에스솔루션스,[브이엠에스솔루션스] 2024년 각부문별 채용,신입·경력 학력무관 정규직 외 서울 전지역 외 D-10
11,㈜비바리퍼블리카,[토스뱅크] CSS Modeler (기획/운영),경력3년↑ 학력무관 정규직 서울 강남구 D-34
12,바이오북㈜,[성수동 스타트업] 바이오 생명공학 산업 분석 시장조사 리서치 직무 모집,신입·경력 대졸↑ 계약직 서울 성동구 D-25
13,㈜에이비일팔공,[AB180] Marketing Data Consultant 채용,경력1년↑ 학력무관 정규직 서울 서초구 상시채용
14,바이오북㈜,[성수동 스타트업] 생명공학 계열 전공 글로벌 BD 모집,경력 석사↑ 정규직 외 서울 성동구 D-19
15,대기업,국내 그룹사(산업 플랜트) - AI Data Scientist 경력직,경력5년↑ 석사↑ 정규직 서울 전지역 D-23
16,중소기업(300명이하),[AI솔루션 기업] Data Scientist(4-8년차),경력4년↑ 박사↑ 정규직 서울 중구 D-54
17,중소기업(300명이하),"06 DATA Engineer, Data Scientist [글로벌 헬스케어 스타트...",경력 학력무관 정규직 서울 구로구 D-5
18,중견기업(300명이상),Data Scientist-초대형 유통그룹 전자제품 전문 유통 회사,경력5년↑ 대졸↑ 정규직 서울 전지역 D-29
19,대기업,Data Scientist(Dynamic Pricing)-종합물류 대기업,경력7년↑ 대졸↑ 정규직 서울 전지역 D-26

# Exercise
- .text: extract the combined text content of an element and its descendants. (recommended)
- .string: extract the text content of an individual element without considering any nested elements.
- It's important to note that the string attribute can only be used when an element has a single string as its content. If an element has multiple strings or tags, string will return None.
- In summary, text returns the combined text content of an element and its descendants, while string returns the text content of an individual element without considering its children.

In [86]:
# .text and .string
html_text = """
<html>
<body>
  <td>some text</td>
  <td></td>
  <td><p>more text</p></td>
  <td>even <p>more text</p></td>"
</body>
</html>
"""
soup = BeautifulSoup(html_text, 'html.parser')

In [87]:
soup.find_all('td')

[<td>some text</td>,
 <td></td>,
 <td><p>more text</p></td>,
 <td>even <p>more text</p></td>]

In [88]:
for i in soup.find_all('td'):
    print(i.string)

some text
None
more text
None

In [89]:
for i in soup.find_all('td'):
    print(i.text)

some text

more text
even more text

### Request
- get
- put

In [90]:
import requests

# the following two are the same.
parameters = {"lat": 40.71, "lon": -74}
response = requests.get("http://api.open-notify.org/iss-now.json",
                        params=parameters)
print(response.content)

response = requests.get("http://api.open-notify.org/iss-now.json?lat=40.71&lon=-74")
print(response.content)

b'{"timestamp": 1727768863, "iss_position": {"latitude": "-50.5621", "longitude": "-83.4433"}, "message": "success"}'
b'{"timestamp": 1727768864, "iss_position": {"latitude": "-50.5689", "longitude": "-83.3958"}, "message": "success"}'

In [91]:
response.status_code

200

In [92]:
response = requests.get("http://api.open-notify.org/iss-now.json")

In [93]:
response.content

b'{"timestamp": 1727768871, "iss_position": {"latitude": "-50.6620", "longitude": "-82.7287"}, "message": "success"}'

- getting JSON from a request

In [94]:
# Make the same request we did

response = requests.get("http://api.open-notify.org/iss-now.json")

# Get the response data as a Python object.  Verify that it's a dictionary.
json_data = response.json()
print(type(json_data))
print(json_data)

<class 'dict'>
{'timestamp': 1727768871, 'iss_position': {'latitude': '-50.6620', 'longitude': '-82.7287'}, 'message': 'success'}

In [95]:
# Headers is a dictionary
print(response.headers)
content_type = response.headers['Content-Type']
content_type

{'Server': 'nginx/1.10.3', 'Date': 'Tue, 01 Oct 2024 07:47:51 GMT', 'Content-Type': 'application/json', 'Content-Length': '114', 'Connection': 'keep-alive', 'access-control-allow-origin': '*'}

'application/json'